<div id="movies">
  <div id="movieList">
    <p id="search">Búsqueda</p>
    <input type="text" class="form-control mb-5" placeholder="Digita tu pelicula..." name="filterMovie" [(ngModel)]="filterMovie">
    <div *ngFor="let movie of movies | filterMovies:filterMovie">
      <a routerLink="movie/{{movie.movie_id}}">
        <img src="../../assets/images/{{movie.poster_name}}.jpg" style="width: 207px;height: 299px;border-radius: 10px;background: #FFFFFF">
      </a>
      <div style="height: 50px"></div>
    </div>
  </div>
</div>
